<!DOCTYPE html>
<html>
<head>
<title>Gift Notes</title>
<link rel="stylesheet" type="text/css" href="../css/main.css">

</head>
<body>


	<h2><b>Git instructions</b></h2>
	<h3>Local</h3>
		<ul>
			<li>Locally means that thingd are happening just on my computer.</li>
			<li>Locally commits back up to a local repository and others can't access until we push to a remote</li>
		</ul>	
	<h3>Remote</h3>
		<ul>
			<li>Remote menas your browser connects to an online server. </li>
			<li> Remote depositories can be accessed by fellow team member (private repo) or publicly(public repo).</li>


		</ul>
		<h3>Local Setup</h3>
			<ol>
				<li>Open your command line terminal</li>
				<li>Use the cd command to navigate to your folder,  For example <b>cd desktop/playground</b></li>
				<li>Type in <b>git init</b>. This will set up a repository(repo) for you locally.</li>
				<li>A message like this should pop up "Initialized empty gif repository in dir/filenale/stuff/here"</li>

			</ol>
		<h3>Local commits</h3>
			<ol>
				<li>Make sure you're in the proper directory in the command line</li>
				<li>Enter <b>git add .</b> Note: This will add all the files that you have changed.</li>
				<li>Enter <b>git commit -m "A note about the things you've changed"</b>. Note: The words in quotes can be anything</li>
				<li>Your code is now backed up locally</li>

			</ol>
			

</body>
</htlm>